body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
    color: goldenrod;
    text-align: center;
}


.page {
    width: 1400px;
    background-color: lightcyan;
    margin: auto;
    padding: 25px;
    padding-top: 25px;
}

.vis-container {
    width: 100%;
    border-style: solid;
    border-color: lightgray;
    border-width: 5px;
    background-color: white;
}

.gap{
    padding-left: 250px;
}

.pure-g {
    margin-bottom: 40px;
}

.text {
    width: 100%;
    border-style: solid;
    border-color: lightgray;
    border-width: 5px;
    background-color: white;
    text-align: center;
}
.p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.p3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
